<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工作日誌系統</title>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/thirdpartycss")
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-weight:bold;font-size:21px"><span >工作日誌</span>系統</a>
                @Html.Partial("_UserMenu")
            </div>
        </div>
    </nav>

    @Html.Partial("_Menu")

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 工作日誌系統</p>
        </footer>
    </div>	<!--/.main-->
    @Scripts.Render("~/bundles/thirdpartyjs")
    @RenderSection("scripts", required: false)
</body>

</html>
