@using DL.Web.ViewModels.DiaryLogNew
@model DiaryLogDetailVM

@if (this.ViewContext.FormContext == null)
{
    this.ViewContext.FormContext = new FormContext();
}

<tr>
    @using (Html.BeginCollectionItem("DiaryLogs"))
    {

        MvcHtmlString diaryLogItemsId = Html.IdFor(x=>x.DiaryLogItems);
        MvcHtmlString diaryLogItem = Html.IdFor(x => x.DiaryLogItem);

        <td style="width:0">
        </td>
        <td>
            @Html.TextBoxFor(m => m.DiaryLogItem, new { @class = "form-control", @style = "width:120px" })
            @Html.ValidationMessageFor(x => x.DiaryLogItem)
            @Html.DropDownList("DiaryLogItems", null,new { @class = "form-control", onchange = "DLItemOnChange('"+ diaryLogItem + "','"+diaryLogItemsId+"')" })
        </td>
        <td>
            @Html.TextAreaFor(m=> m.DiaryLogContents, new { @class = "form-control", @rows="5" })
            @Html.ValidationMessageFor(x => x.DiaryLogContents, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.CheckBoxFor(m => m.DiaryLogStatus, new { @class = "checkbox-inline", @style = "width:60px" }) 
            @Html.ValidationMessageFor(x => x.DiaryLogStatus, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.DiaryLogHours, new { @class = "form-control", @style = "width:70px", @type = "number" })
            @Html.ValidationMessageFor(x => x.DiaryLogHours, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextAreaFor(m => m.DiaryLogSituation, new { @class = "form-control", @rows="5" })
            @Html.ValidationMessageFor(x => x.DiaryLogSituation, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextAreaFor(m => m.DiaryLogSolve, new { @class = "form-control", @rows="5" })
            @Html.ValidationMessageFor(x => x.DiaryLogSolve, "", new { @class = "text-danger" })
        </td>
        <td>
            <button class="btn btn-danger" onclick="$(this).parents('tr').remove(); event.preventDefault();"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除</button>
        </td>
}
</tr>
