@using DL.Web.ViewModels.DiaryLogNew
@model DiaryLogDetailVM

<tr> 
    @using (Html.BeginCollectionItem("DiaryLogs"))
    {
        <td style="width:0">
            @{int actdetailNo = Convert.ToInt32(Html.Raw(Model.DiaryLogId).ToString()); }
            @Html.HiddenFor(m => m.DiaryLogId)
        </td>
        <td>
            @Html.TextBoxFor(m => m.DiaryLogItem, new { @class = "text-box single-line", @style = "width:120px" })
        </td>
        <td>
            @Html.TextAreaFor(m => m.DiaryLogContents, new { @class = "text-box", @style = "width:280px;height=106px" })
        </td>
        <td>
            @Html.CheckBoxFor(m => m.DiaryLogStatus, new { @class = "checkbox-inline", @style = "width:60px" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.DiaryLogHours, new { @class = "text-box single-line", @style = "width:70px", @type = "number" })
        </td>
        <td>
            @Html.TextAreaFor(m => m.DiaryLogSituation, new { @class = "text-box", @style = "width:280px;height=106px" })
        </td>
        <td>
            @Html.TextAreaFor(m => m.DiaryLogSolve, new { @class = "text-box", @style = "width:280px;height=106px" })
        </td>
        <td>
            <button class="btn btn-danger" onclick="deleteDetail('@actdetailNo')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除</button>
        </td>
                }
</tr>

