@using DL.Web.ViewModels.DiaryLogNew
@model DiaryLogNewEditVM

@{
    ViewBag.Title =  Model.UserName + "的工作日誌明細";
}

<script type="text/javascript">
    $(function () {
        $('#diaryLogDate').datepicker({
            dateFormat: "yy/mm/dd"
        });
    })

</script>

<br />
<label class="title">@ViewBag.Title</label>
<hr />

@using (Html.BeginForm("Detail", "DiaryLogNew", FormMethod.Post, new { @id = "detailForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">員工編號</label>
            <div class="col-md-2">
                <label class="form-control">@Model.UserAccount</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">姓名</label>
            <div class="col-md-2">
                <label class="form-control">@Model.UserName</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">時間</label>
            <div class="col-md-2">
                <label class="form-control">@String.Format("{0:d}", Model.DiaryLogDate) </label>
            </div>
        </div>
    </div>

    <br />
        <table id='TextBoxesGroup' class="table table-striped" >
            <thead>
                <tr>
                    <th></th>
                    <th>項目</th>
                    <th>內容</th>
                    <th>狀態</th>
                    <th>時數</th>
                    <th>狀況</th>
                    <th>是否解決</th>
                </tr>
            </thead>
            @foreach (var item in Model.DiaryLogs)
                {
                <tr>
                    <td style="width:0"></td>
                    <td>
                        <input class="text-box single-line" style="width:120px" value="@item.DiaryLogItem" disabled="disabled" />
                    </td>
                    <td>
                        <input class="text-box single-line" style="width:180px" value="@item.DiaryLogContents" disabled="disabled" />
                    </td>
                    <td>
                        <input class="text-box single-line" style="width:60px" value="@item.DiaryLogStatus" type="checkbox" disabled="disabled" />
                    </td>
                    <td>
                        <input class="text-box single-line" style="width:40px" value="@item.DiaryLogHours" type="number" disabled="disabled" />
                    </td>
                    <td>
                        <input class="text-box single-line" style="width:180px" value="@item.DiaryLogSituation" disabled="disabled" />
                    </td>
                    <td>
                        <input class="text-box single-line" style="width:180px" value="@item.DiaryLogSolve" disabled="disabled" />
                    </td>
                    <td></td>
                </tr>
            }
        </table>
        
}


<div>
    @Html.ActionLink("返回列表", "Index",new { userId=Model.UserId}, new { @class = "btn btn-default" })
</div>

