@using DL.Web.ViewModels.DiaryLogNew
@model DiaryLogNewEditVM

@{
    ViewBag.Title = "工作日誌編輯";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<br />
@using (Html.BeginForm("AjaxEdit", "DiaryLogNew"))
{
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.DiaryLogDate)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">員工編號</label>
                <div class="col-md-2">
                    <label class="form-control">@Model.UserAccount</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">姓名</label>
                <div class="col-md-2">
                    <label class="form-control">@Model.UserName</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">時間</label>
                <div class="col-md-2">
                    <label class="form-control">@String.Format("{0:yyyy/MM/dd}", Model.DiaryLogDate) </label>
                </div>
            </div>
        </div>
        <a id="addDetailBtn" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增</a>
        <br />
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>項目</th>
                    <th>內容</th>
                    <th>狀態</th>
                    <th>時數</th>
                    <th>狀況</th>
                    <th>是否解決</th>
                </tr>
            </thead>
            <tbody id='TextBoxesGroup'>
                @foreach (var item in Model.DiaryLogs)
                {
                    @Html.Partial("_DiaryLogEditDetailPartialView", item)
                }
            </tbody>
        </table>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="送出" />
        </div>

}
<div>
    @Html.ActionLink("返回列表", "Index", new { userId = Model.UserId }, new { @class = "btn btn-default" })
</div>


@section scripts{
    <script type="text/javascript">

    function DLItemOnChange(DLItemId,DLItemsId){
        //alert(DLItemId+":"+DLItemsId);
        var DLItemsIdVal = $('#'+DLItemsId).val();
        $('#'+DLItemId).val(DLItemsIdVal);
    }

    // 新增明細的Partial View, 附加到 table
    $(function () {
        $('#diaryLogDate').datepicker({
            dateFormat: "yy/mm/dd"
        });

        var userId = @Model.UserId;
        var addNewUrl = '@Url.Action( "GetDetailPartialView", "DiaryLogNew")'+"?userId="+userId;

        $("#addDetailBtn").click(function () {
            $.get(addNewUrl, function (template) {
                $("#TextBoxesGroup").append(template);
                event.preventDefault();
            });
        });

        $("form").submit(function (e) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxEdit", "DiaryLogNew")',
                data: $("form").serialize(),
                success: function (result) {
                    var date = result.split(",");
                    if(date[0] === "true")
                    {
                        var url = '@Url.Action("Index")';
                        url = url + "?userId="+@Model.UserId;
                        window.location.href=url;
                    }
                    else
                    {
                    }
                },
                error: function (xhr, ajaxOptions, Error) {
                    alert(Error);
                }
            });

            e.preventDefault();
        });

    });

    function deleteDetail(id) {
        if (confirm('確定刪除？')) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteADetail", "DiaryLogNew")',
                data: JSON.stringify({ "actdetailNo": id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg) {
                        window.location.reload();
                    } else {
                        alert("刪除失敗");
                    }
                },
                error: function (xhr, ajaxOptions, Error) {
                    alert(Error);
                }
            });
            event.preventDefault();
        }
        else {
            event.preventDefault();
        }
    }


</script>
    }