@using DL.Web.ViewModels.DiaryLogNew
@model DiaryLogNewIndexVM

@{
    ViewBag.Title = "[工作日誌/查詢]";
    ViewBag.SubTitle = "輸入查詢條件";
}

<script type="text/javascript">
    $(function () {
        $('#dateStart').datepicker({
            dateFormat: "yy/mm/dd"
        });
        $('#dateEnd').datepicker({
            dateFormat: "yy/mm/dd"
        });
    })
</script>

<br />
<label class="title">@ViewBag.Title</label>
<hr />

<h4><strong>@ViewBag.SubTitle</strong></h4>

@using (Html.BeginForm("Index", "DiaryLogNew", FormMethod.Post, new { id = "diaryLogFrom", @class = "form-inline", role = "form" }))
{
    @Html.HiddenFor(x => x.UserId)
    <div class="form-group">
        <label class="sr-only" for="name">日期起</label>
        @Html.TextBox("dateStart", "", new { @placeholder = "請輸入日期起", @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputfile">日期迄</label>
        @Html.TextBox("dateEnd", "", new { @placeholder = "請輸入日期迄", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>查詢</button>

    <br />
    <br />

    if (ViewBag.Account != "9999")
    {
        <a href="/DiaryLogNew/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增</a>
        <br />
        <br />
    }

    if (Model.DiaryLogDate != null && Model.DiaryLogDate.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50px">
                        @Html.DisplayName("序號")
                    </th>
                    <th>
                        @Html.DisplayName("時間")
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model.DiaryLogDate)
                {
                    <tr>
                        <td>
                            @(++i + (Model.DiaryLogDate.PageSize * (Model.DiaryLogDate.PageNumber - 1)))
                        </td>
                        <td>
                            @String.Format("{0:d}", item)
                        </td>
                        <td>
                            @if (ViewBag.Account != "9999")
                            {
                                <a class="btn btn-primary" href="/DiaryLogNew/Edit/?strDate=@string.Format(" {0:yyyy-MM-dd}", item)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>編輯</a>
                            }
                            <a class="btn btn-primary" href="/DiaryLogNew/Detail/?strDate=@string.Format(" {0:yyyy-MM-dd}", item)&userId=@Model.UserId"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>明細</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pager">
            @Html.Pager(Model.DiaryLogDate.PageSize, Model.DiaryLogDate.PageNumber, Model.DiaryLogDate.TotalItemCount)
        </div>
                        }
                    }

@if(Session["Account"].ToString().Equals("9999"))
{ 
<div>
    @Html.ActionLink("返回列表", "MasterIndex",null, new { @class = "btn btn-default" })
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            // Fields
            var _pageLinkers = $(".pager> a");

            // Binding click event
            _pageLinkers.each(function (i, item) {
                var page = getParameterByName($(item).attr('href'), 'page')
                $(item).attr('href', '#').click(function () { postPage(page); });
            });

        });

        function postPage(page) {
            var targetFormID = '#diaryLogFrom';
            if ($(targetFormID).size() > 0) {
                $('<input>')
                    .attr({ type: 'hidden', id: 'page', name: 'page', value: page })
                    .appendTo($(targetFormID));
                $(targetFormID).submit();
            }
        };

        function getParameterByName(url, name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(url);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

    </script>
}




