@using DL.Web.ViewModels.DiaryLogNew
@model DiaryLogNewMasterIndexVM

@{
    ViewBag.Title = "[工作日誌/查詢員工]";
}

<br />
<label class="title">@ViewBag.Title</label>
<hr />

@using (Html.BeginForm("MasterIndex", "DiaryLogNew", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "diaryLogFrom", @class = "form-inline", role = "form" }))
{

    <div class="form-group">
        <label class="sr-only" for="name">員工編號</label>
        @Html.TextBox("UserAccount", "", new { @placeholder = "請輸入員工編號", @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputfile">姓名</label>
        @Html.TextBox("UserName", "", new { @placeholder = "請輸入姓名", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>查詢</button>

    <br />
    <br />

    if (Model.UserGroups != null && Model.UserGroups.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50px">
                        @Html.DisplayName("序號")
                    </th>
                    <th>
                        @Html.DisplayName("會員編號")
                    </th>
                    <th>
                        @Html.DisplayName("姓名")
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model.UserGroups)
                {
                    <tr>
                        <td>
                            @(++i + (Model.UserGroups.PageSize * (Model.UserGroups.PageNumber - 1)))
                        </td>
                        <td>
                            @item.UserAccount
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/DiaryLogNew/Index/?userId=@item.UserId"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>明細</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pager">
            @Html.Pager(Model.UserGroups.PageSize, Model.UserGroups.PageNumber, Model.UserGroups.TotalItemCount)
        </div>
                        }
                    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function () {

            // Fields
            var _pageLinkers = $(".pager> a");

            // Binding click event
            _pageLinkers.each(function (i, item) {
                var page = getParameterByName($(item).attr('href'), 'page')
                $(item).attr('href', '#').click(function () { postPage(page); });
            });

        });

        function postPage(page) {
            var targetFormID = '#diaryLogFrom';
            if ($(targetFormID).size() > 0) {
                $('<input>')
                    .attr({ type: 'hidden', id: 'page', name: 'page', value: page })
                    .appendTo($(targetFormID));
                $(targetFormID).submit();
            }
        };

        function getParameterByName(url, name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(url);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


    </script>
}






