@model DL.Web.ViewModels.User.UserDeleteVM

@{
    ViewBag.Title = "確定刪除該筆資料?";
}

<div>
    <h4 style="color:red"> @ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-danger" /> 
            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
