@model DL.Web.ViewModels.User.UserDeleteVM

@{
    ViewBag.Title = "帳號刪除";
    ViewBag.SubTitle = "確定刪除該筆資料?";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<br />
<h4><strong>@ViewBag.SubTitle</strong></h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-danger" /> 
            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
